{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.aleth.io/v1"
    }
  ],
  "info": {
    "title": "Alethio API",
    "version": "1.5.5",
    "contact": {
      "email": "support@aleth.io",
      "name": "API Support"
    },
    "license": {
      "name": "Alethio API Terms of Service",
      "url": "https://developers.aleth.io/terms"
    },
    "description": "# Introduction\n\nBlockchains store data in ways most apps find difficult to access. Alethio's API gives you a robust and reliable way to query synthesized, indexed Ethereum data in real-time via a [JSON:API](https://jsonapi.org/) compliant REST interface.\n\nWe designed the endpoints around the frequent needs and pain points of building an Ethereum-powered project. We give you access to the data you need, exactly how you need it - through a comprehensive, general-purpose data model based on [EthOn](https://ethon.consensys.net/) with meaningful aggregation and filtering capabilities exposed via query parameters.\n\nHere are only a few examples that illustrate the power of the API - these use cases are typically not supported by the standard Ethereum `json-rpc` interface:\n\n- Retrieve the [transaction history](#tag/Accounts/paths/~1accounts~1{address}~1transactions/get) of any Ethereum account \n\n- Retrieve a complete list of incoming and outgoing [Ether transfers](#tag/Ether-Transfers) for any account - including transfers sent by smart contracts\n\n- Retrieve the [token transfer](#tag/Token-Transfers) history for any account\n\n- Retrieve a full map of [contract messages](#tag/Contract-Messages) (internal transactions) for any account and smart contract\n\n- Efficiently filter through the entire history of [event logs](#tag/Log-Entries) emmitted by any smart contract\n\n\n## Networks\n\nThe API is currently live on the following networks:\n\nNetwork  | Base URL\n-------- | ---------\nEthereum Mainnet | `https://api.aleth.io/v1`\n\n\n## Authentication\n\nThe API can be tested without authentication on low volumes. Unauthenticated access is throttled at `~60 req/min` per IP address with a HTTP `429` response code.\n\nFor higher throughput and volumes, please register an account with [Alethio's Developer Portal](https://developers.aleth.io/) and use the provided API Key in one of the following supported authentication mechanisms:\n\n- Bearer Token via an `Authorization: Bearer API_KEY` header\n\n```bash\n$ curl https://api.aleth.io/v1/blocks/latest \\\n  -H \"Authorization: Bearer sk_main_0123456789abcdef\"\n```\n\n- [HTTP Basic Access Authentication](https://en.wikipedia.org/wiki/Basic_access_authentication): use your API key as the user name (no password)\n\n```bash\n$ curl https://api.aleth.io/v1/blocks/latest \\\n  -u sk_main_0123456789abcdef:\n# The colon prevents curl from asking for a password\n```\n\n## Response format\n\nAll API responses are serialized as JSON objects and follow the conventions of the [JSON:API specificaton](https://jsonapi.org/):\n\n- If the response object has a `data` property, the request was successful and the value of the `data` property can be either a single object (representing a Resource) or an array of objects (representing a Collection).\n\n- Otherwise, the response object will have a single `errors` property, whose value is an array of *Error objects*.\n\n### The `meta` object\n\nAll succesful responses include a `meta` property along with the `data` property in the response object. The `meta` object includes helper information that can vary depending on the type of request and will be described along with the relevant functionality (e.g. the sections on Pagination and Reorg Handling).\n\nFor all API responses, however, the `meta` object includes a few details about the latest block of the canonical chain, as it is seen by the API at the time of the request. This can serve as an anchor for queries that ask for the most recent items of a collection (e.g. latest transactions for an account), as it defines what 'most recent' means to the API at the time of the request:\n\n```json\n{\n  \"meta\": {\n    \"latestBlock\": {\n      \"number\": 4242424,\n      \"blockCreationTime\": 1504648858,\n      \"blockHash\": \"0x30b65c7412e887eb888abadb230171e7dc09da7bbe0f2a475c0feeed6950dc3b\"\n    }\n  }\n}\n```\n\n## Resources\n\nThe API is organized around the concepts of *Resources* and *Collections*.\n\nA *Resource* typically represents a single blockchain-related concept (e.g. `Block`, `Transaction`, `Account`, etc.) whereas a *Collection* is a group (array) of resources sharing the same type.\n\nEach resource is uniquely dentified by its `type` and `id`. We will refer to this as the *resource identifier data*.\n\nLet's take Ethereum's genesis block as an example:\n\n```bash\ncurl \"https://api.aleth.io/v1/blocks/genesis\"\n```\n\nYou will find the *identifier data* as part of the resource payload:\n\n```json\n{\n  \"type\": \"Block\",\n  \"id\": \"0xd4e56740f876aef8c010b86a40d5f56745a118d0906a34e69aec8c0db1cb8fa3\"\n  // ...\n}\n```\n\nAlong with the *identifier data*, all resources have two other types of properties:\n\n- *attributes* are static values specific to the resource\n\n- *relationships* are pointers to other (related) resources or collections\n\nFor example, the genesis block has:\n\n```json\n{\n  \"attributes\": {\n    \"number\": 0,\n    \"blockCreationTime\": 1438226773\n    // ... other attibutes\n  },\n  \"relationships\": {\n    \"hasBeneficiary\": {\n      // pointer to the miner's Account\n    },\n    \"transactions\": {\n      // pointer to the collection of Transactions\n    }\n  }\n}\n```\n\n## Relationships and Links\n\nAll the blockchain resources are part a large graph of interconnected concepts. The API is translating these connections into resource *relationships*. There are two types of relationships:\n\n- A *to-one* relationship is a link to a single other resource (e.g. there's a single `from` Account for any Transaction).\n\n- A *to-many* relationship is a link to a collection of resources sharing the same type (e.g. there is a collection of Transactions for any given Block).\n\nBoth the *to-one* and *to-many* relationships are represented by a fully-formed URL called the *related link*. According to the [JSON:API specificaton](https://jsonapi.org/) this will be serialized as:\n\n```json\n{\n  \"transactions\": {\n    \"links\": {\n      \"related\": \"https://api.aleth.io/v1/blocks/genesis/transactions\"\n    }\n  }\n}\n```\n\nAdditionally, only the *to-one* relationships will include in the response, along with the link, the *identifier data* of the related resource:\n\n```json\n{\n  \"hasBeneficiary\": {\n    \"data\": {\n      \"type\": \"Account\",\n      \"id\": \"0x0000000000000000000000000000000000000000\"\n    },\n    \"links\": {\n      \"related\": \"https://api.aleth.io/v1/blocks/genesis/hasBeneficiary\"\n    }\n  }\n}\n```\n\n> **Note:** In practice, the related links will be normalized to include the canonical identifier of the origin.\n> Instead of `/blocks/genesis/...` (we used this in the examples above for brevity) the related links will read `/blocks/0xd4e56740.../...`.\n\n## Multi-Resource Queries\n\nSometimes it's helpful to fetch a bundle of related resources with a single API request. The API enables you to do this via the `include` URL parameter.\nYou can choose to include any subset of *to-one* relationships by providing a comma-separated list of the relationship names in the request.\n\nLet's explore the first Ethereum transaction, along with the details of its `from` and `to` Accounts:\n\n```bash\ncurl \"https://api.aleth.io/v1/transactions/0x5c504ed432cb51138bcf09aa5e8a410dd4a1e204ef84bfed1be16dfba1b22060?include=from,to\"\n```\n\nNote the trailing `include=from,to` argument in the URL. This asks the API to append the related resources to the response, grouped under the `included` key:\n\n```json\n{\n  \"data\": {\n    \"type\": \"Transaction\",\n    \"id\": \"0x5c504ed432cb51138bcf09aa5e8a410dd4a1e204ef84bfed1be16dfba1b22060\",\n    \"relationships\": {\n      \"from\": {\n        \"data\": {\"type\": \"Account\", \"id\": \"0xa1e4380a3b1f749673e270229993ee55f35663b4\"}\n        // \"links\" not relevant for this example\n      },\n      \"to\": {\n        \"data\": {\"type\": \"Account\", \"id\": \"0x5df9b87991262f6ba471f09758cde1c0fc1de734\"}\n        // \"links\" not relevant for this example\n      }\n    }\n    // ... other Transaction details\n  },\n  \"included\": [\n    {\n      \"type\": \"Account\",\n      \"id\": \"0xa1e4380a3b1f749673e270229993ee55f35663b4\",\n      // ... other Account details\n    },\n    {\n      \"type\": \"Account\",\n      \"id\": \"0x5df9b87991262f6ba471f09758cde1c0fc1de734\",\n      // ... other Account details\n    }\n  ]\n}\n```\n\nAn included resource will be appended to the `included` array one time, even if it's referenced by more than one relationship (e.g. if the `from` and the `to` Accounts would have been identical in the example above, that Account wouldn't be included twice in the array).\n\n> **Note:** Only the *to-one* relationships can be multiplexed in a single request. All *to-many* relationships need to be queried explicitly in separate requests. We chose this approach so we could simplify the API query logic for collection pagination and filtering.\n\n## Collection ordering\n\nThe default sorting order for all resources that directly relate to activity on a timeline (e.g. Blocks, Transactions, ContractMessages, LogEntries) is *reverse chronological* (most recent entries are first on the list). We chose this approach as most often than not, users are interested primarily in events or transactions that happened recently, rather than the ones that happened a long time ago.\n\nThe `globalRank` attribute, where present, serves as an aid to this ordering criteria, as it aggregates a hierarchy of indexes into a single composite value:\n\n- The block number\n\n- The index of a message (transaction or contract message) in the context of a block\n\n- The index of an event in the context of a transaction\n\nThis value allows you to sort heterogeneous collections of items chronologically, according to the relative order in which they were executed.\n\n## Filters\n\nFilters can assist you in refining your queries and distilling the data sets down to resources that have certain properties (attributes or relationships).\nAs a general rule, the filters are applied through the `filter[NAME]` URL argument. Multiple filters can be chained within a single request, as long as they're targeting different properties.\n\n**Example:** Let's query the list of transactions between two specific accounts:\n\n```bash\ncurl \"https://api.aleth.io/v1/transactions?filter[from]=0x5A0b54D5dc17e0AadC383d2db43B0a0D3E029c4c&filter[to]=0x962f7a7146ca5527fb9bf92491da675f3d2de0d8\"\n```\n\n> **Note:** All collections of the same resource type have support for the same filtering parameters.\n\nYou will find a full list of supported filters for each collection type in the endpoint reference below. Please note that all filters are only listed once for each collection type, although they can be applied on related collections as well.\n\n**Examples:**\n\n1. `filter[token]` is documented for the [root collection](#tag/Token-Transfers/paths/~1token-transfers?filter[token]={address}/get) `/token-transfers`, but can be applied to an [Account's token transfers](#tag/Accounts/paths/~1accounts~1{address}~1tokenTransfers/get) as well, for retrieving the list of [TokenTransfers](#tag/Token-Transfers) related to that [Account](#tag/Accounts), in a given [Token](#tag/Tokens):\n\n   ```bash\n   curl \"https://api.aleth.io/v1/accounts/0xd6f480e6e7d75346e254db5d99efa2561d3f3288/tokenTransfers?filter[token]=0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2\"\n   ```\n\n2. Here's how you can apply the [LogEntry topic filter](#tag/Log-Entries/paths/~1log-entries?filter[hasLogTopics.0]={value}/get) `filter[hasLogTopics.0]` to retrieve all ERC20 `Approve` events triggered a given block:\n\n   ```bash\n   curl \"https://api.aleth.io/v1/blocks/8048150/logEntries?filter[hasLogTopics.0]=0x8c5be1e5ebec7d5bd14f71427d1e84f3dd0314c0f7b2291e5b200ac8c7c3b925\"\n   ```\n\n\n## Pagination\n\nAll resource collections that are exported by the API share a uniform pagination strategy.\n\n- The maximum number of items on a page is controlled by the `page[limit]` URL argument. The default value is `10` and the maximum allowed value is `100`.\n\n- The beginning or end of the requested page is controlled by a `cursor` value assigned to either the `page[next]` or `page[prev]` URL arguments. Each resource has an immutable `cursor` attribute that can be used for this purpose.\n\n> **Note:** All the resources that are subject to pagination have a *reverse chronological* default ordering. This can make the pagination language counter-intuitive, unless you think of the items as being part of an 'activity feed' (with the most recent activity shown on the top of the list). Thus, the first (default) page will always start with the most recent items and progress towards older items. The `next` page will display *older* items than the current page, whereas the `prev` page will display *more recent* items.\n\n- The `page[next]=cursor` argument requests the next page starting immediately after `cursor`\n\n- The `page[prev]=cursor` argument requests the previous page ending immediately before `cursor`\n\n![Pages relative to a cursor](/pag-1.svg \"Pages relative to a cursor\")\n\nThe API automatically creates links for the `next` and `prev` pages relative to the set of items included in the active (current) page, and appends these links to the response under the `links` property.\n\nLet's look into the transactions of Block number `4242424`:\n\n```bash\ncurl \"https://api.aleth.io/v1/blocks/4242424/transactions?page[limit]=2\"\n```\n\n```json\n{\n  \"data\": [\n    // List of 2 Transaction resources:\n    // - first with cursor 0x0040bbf800a60000100030b65c7412e8\n    // - second with cursor 0x0040bbf800a50000100030b65c7412e8\n  ],\n  \"links\": {\n    \"prev\": \"(...) transactions?page[limit]=2&page[prev]=0x0040bbf800a60000100030b65c7412e8\",\n    \"next\": \"(...) transactions?page[limit]=2&page[next]=0x0040bbf800a50000100030b65c7412e8\"\n  }\n}\n```\n\nNotice how `links.prev` and `links.next` were generated to include the cursors of the first and the last items in the current page.\n\n> **Note:** The values set for `page[limit]` (along with any other `filter[]` applied to the current page) will be preserved in the pagination links for the `next` and `prev` pages.\n\nFor all paginated collections, the `meta` object assigned to the response will include a `page` object that provides information about the items of the `next` and `prev` pages:\n\n- `meta.page.hasNext` is a boolean value that indicates whether the next page (starting immediately after the cursor of the last item in the current page) has at least one item.\n\n- `meta.page.hasPrev` is a boolean value that indicates whether the previous page (ending immediately before the cursor of the first item in the current page) has at least one item.\n\n\n## Reorg Handling\n\n### Data Latency\n\nOur data pipeline keeps track of the blockchain growth in real-time, so you get access to the most recent activity as soon as it takes place. We don't require you to wait for an arbitrary number of confirmations until you get access to the data, so you can build applications that react as quickly as possible to the on-chain events, with minimal delays for your users.\n\nThis is a powerful feature that introduces a subtle layer of complexity due to how distributed consensus works: the miners are competing for producing new blocks and sometimes the latest section of the chain becomes a stale branch because a better branch was produced by other nodes. This is also known as a \"chain reorg\".\n\n![Chain reorg](/reorg-1.svg \"Chain reorg\")\n\nIn the image above, the block segment `P1-P2` (that was part of the canonical chain) becomes a stale branch because a better chain was created via `M1-M2-M3`. After the reorg took place, any transaction that was included in `P1` or `P2` is no longer part of the main chain (hence no longer confirmed), unless it is mined again in one of the blocks that are now part of the main chain.\n\n### Rollbacks\n\nWe designed the API to handle these situations with minimal overhead for you. The pagination cursors are reorg-safe, so you can surf through resource collections or poll for updates without worrying about data inconsistencies related to reorgs. If we detect that a subset of the items that we've given you have become stale (because the chain reorganized in between requests), we'll simply append a list of `rollback` items to the next response, to notify you that the status of those items is no longer valid.\n\nIn other words, if the pagination cursor that you've just sent is pointing to an item that's no longer part of the main chain, the API will do the heavy lifting by shifting the cursor back into the main chain and returning a list of `rollback` items whose status you might want to update.\n\n### Under the Hood\n\nHere is a step-by-step explanation of how our data pipeline handles a pagination cursor that's pointing to a reorged block (`Pc`). This is purely informative and you don't need to understand it to successfully use the API, as most of this logic takes place in our backend.\n\n![Rollbacks based on a cursor](/reorg-2.svg \"Rollbacks based on a cursor\")\n\n- The API will determine `A`, the most recent common ancestor of `Pc` and the current tip of the main chain\n\n- Create a `meta.rollback` collection that includes all the relevant items on the stale branch (according to the active filters)\n\n- For `page[next]`: create a `data` collection that returns all the relevant items on the main chain (according to the active filters), whose block number is *less than or equal to* `A`\n\n- For `page[prev]`: same as above, but the block number needs to be *strictly greater than* `A`\n\nLet's take a more granular example:\n\n![Paginating reorged items](/reorg-3.svg \"Paginating reorged items\")\n\nAssume the active query asks for all transactions of a given account `X`.\n\nThe transactions matching the active query are highlighted in the image as lines inside blocks. Note that some blocks might not have any transactions related to the account `X`, so they are shown empty (no lines) in the image.\n\nThe cursor `C` points to a transaction that’s outside the main chain (block `Pc`).\n\nThe API will send a `meta.rollback` collection that includes all the transactions of `X` in the orange blocks.\n\n> **Important:** The `rollback` dataset won't include *all* transactions from all the orange blocks, but only the ones that match the active filters (in this example, only the transactions associated with the account `X`).\n\n> **Note:** The `rollback` dataset is not paginated, it will include all the relevant items in a single list of *resource identifier objects* (only the `type` and `id` is provided for each `rollback` item).\n\n- For `page[next]=C`, the API will send a `data` collection that includes the next `page[limit]` transactions matching the active filters, starting with (and including) block `A` (note that some blocks might not have any transactions for account `X`, in this example `A` and `M3` don’t have matching transactions).\n\n- The same applies for `page[prev]`, but with blocks higher than (and *not including*) `A`.\n\nHere is an abstracted example for the query `/accounts/X/transactions?page[limit]=3&page[next]=C` in the context of the diagram above:\n\n```json\n{\n  \"data\": [\n    {\n      \"type\": \"Transaction\",\n      \"id\": \"M5-tx1\",\n      // ... more Transaction details\n    },\n    {\n      \"type\": \"Transaction\",\n      \"id\": \"M4-tx1\",\n      // ... more Transaction details\n    },\n    {\n      \"type\": \"Transaction\",\n      \"id\": \"M2-tx1\",\n      // ... more Transaction details\n    }\n  ],\n  \"meta\": {\n    \"rollback\": [\n      // only the resource identifiers, no other details\n      { \"type\": \"Transaction\", \"id\": \"P6-tx1\" },\n      { \"type\": \"Transaction\", \"id\": \"P6-tx2\" },\n      { \"type\": \"Transaction\", \"id\": \"P4-tx1\" },\n      { \"type\": \"Transaction\", \"id\": \"R1-tx1\" },\n      { \"type\": \"Transaction\", \"id\": \"Pc-tx1\" },\n      { \"type\": \"Transaction\", \"id\": \"Pc-tx2\" },\n      { \"type\": \"Transaction\", \"id\": \"Pc-tx3\" },\n      { \"type\": \"Transaction\", \"id\": \"P1-tx1\" },\n      { \"type\": \"Transaction\", \"id\": \"P1-tx2\" }\n      // always includes the full list, no pagination\n    ]\n  }\n}\n```\n\n## Webhooks\n\n[Webhooks](#tag/Webhooks) allow users to monitor any given query for updates and receive real-time notifications\nwhen new resources that satisfy the query criteria become part of the blockchain.\n\n### Motivation\n\nLet's take the example of monitoring inbound and outbound DAI transfers for the `0x0` account.\n\nWe can use the `account` and `token` filters on the [token transfers endpoint](#tag/Token-Transfers/paths/~1token-transfers?filter[account]={address}/get)\nto retrieve a list of transfers, then periodically poll the `links.prev` link to retrieve fresh updates (the `prev` link\nasks for the *previous* page, which consists of more recent items than the first item in the current list).\n\n```bash\n$ curl \"https://api.aleth.io/v1/token-transfers?filter[account]=0x0000000000000000000000000000000000000000&filter[token]=0x6b175474e89094c44da98b954eedeac495271d0f\"\n```\n\n```json\n{\n  \"data\": [\n    {\n      \"type\": \"EtherTransfer\",\n      \"id\": \"0x008b40460130000041007687f464fcf6\",\n      \"attributes\": {\n        \"transferType\": \"TransactionTransfer\",\n        \"value\": \"0\",\n        \"fee\": \"261479290958400\",\n        \"total\": \"261479290958400\",\n        \"blockCreationTime\": 1576678602,\n        ...\n      }\n    },\n    ...\n  ],\n  \"links\": {\n    \"next\": \"https://api.aleth.io/v1/ether-transfers/0x0000000000000000000000000000000000000000/etherTransfers?filter%5Baccount%5D=0x0000000000000000000000000000000000000000\\u0026page%5Blimit%5D=1\\u0026page%5Bnext%5D=0x008b40460130000041007687f464fcf6\",\n    \"prev\": \"https://api.aleth.io/v1/accounts/0x0000000000000000000000000000000000000000/etherTransfers?filter%5Baccount%5D=0x0000000000000000000000000000000000000000\\u0026page%5Blimit%5D=1\\u0026page%5Bprev%5D=0x008b40460130000041007687f464fcf6\"\n  }\n}\n```\n\nThis approach is inconvenient, as it adds a certain delay (the polling interval) and creates many \nrequests that will result in empty responses.\n\nWith the new Webhooks system, users can register a Webhook instance that monitors a given query and sends\na HTTP POST request to a configurable target URL as soon as new resources that match the query have been\nincluded in the chain.\n\n### Webhook Behavior\n\nEach Webhook instance is associated with an underlying data *query* - expressed via the webhook's `endpoint`, \n`filters` and `confirmations` attributes. For the example above, the underlying query is\n\n```\nhttps://api.aleth.io/v1/token-transfers?filter[account]=0x0000000000000000000000000000000000000000&filter[token]=0x6b175474e89094c44da98b954eedeac495271d0f\n```\n\nand the corresponding webhook configuration is\n\n```json\n{\n  \"endpoint\": \"/token-transfers\",\n  \"filters\": {\n    \"account\": \"0x0000000000000000000000000000000000000000\",\n    \"token\": \"0x6b175474e89094c44da98b954eedeac495271d0f\"\n  }\n}\n```\n\nThe webhook will monitor the result set of this query and synchronize the results with the target\n(remote server) by keeping track of an internal `cursor` and pushing paginated results in two \ndistinct stages:\n\n- The **backfill** stage: starting with the earliest (oldest) entry in the dataset, pages of \nmaximum `100` items will be `POST`ed to the target URL.\n\n- The **live** stage: as soon as the entire history is synchronized, the webhook will hibernate \nuntil one (or potentially more) new items are included in the dataset as a result of a new block \nbeing appended to the chain. The webhook will then issue a `POST` request to the remote URL and \nsend the new items in the body of the request.\n\nThe payload of each HTTP POST issued to the target URL will include a list of resources\n(under the `data` property) and `meta` information about the Webhook:\n\n```json\n{\n  \"data\": [\n    {\n      \"type\": \"EtherTransfer\",\n      \"id\": \"0x008b40460130000041007687f464fcf6\",\n      \"attributes\": {...},\n      \"relationships\": {...}\n    },\n    ...\n  ],\n  \"meta\": {\n    \"webhook\": {\n      \"type\": \"Webhook\",\n      \"id\": \"006cfb85008d000010008ca21f438ee5\",\n      \"links\": {\n        \"self\": \"https://api.aleth.io/v1/webhooks/006cfb85008d000010008ca21f438ee5\"\n      }\n    }\n  }\n}\n```\n\n### Webhook Management\n\nAPI users can manage their own decicated Webhooks programatically using a separate set of \nendpoints detailed in the [Webhooks](#tag/Webhooks) section below.\n\n\n## Data Model\n\nThe follwing section provides a comprehensive list of all the API endpoints and their associated responses.\n\nThe Resource data model borrows a lot from [EthOn](https://ethon.consensys.net/) - the community-sourced Ethereum Ontology. You can use it as a secondary reference for the response schema.\n\n> **Note:** You can access a detailed view of each response (including descriptions of all the fields) by expanding the green pills underneath each endpoint (e.g. the expandable green area reading '200 Block').\n"
  },
  "tags": [
    {
      "name": "Blocks",
      "description": "A **Block** is the basic element of a 'blockchain'. It functions as an entry in a distributed ledger, recording a series of transactions together with a reference to the previous block. A block is chained to its preceeding block by a cryptographic hash of its contents as a means of reference. Blocks contain an identifier for the final state after all transactions contained in it are validated. There is a consensus mechanism that provides incentives for nodes adding new blocks to the chain (\"miners\" in the Proof of Work protocol used by the main Ethereum network) that comply with the rules of Ethereum by issuing newly generated tokens ('Ether') to an account specified by the block's author."
    },
    {
      "name": "Accounts",
      "description": "An **Account** is the superclass of all account types in Ethereum. All accounts are identified by an address (which, however, is derived differently for external and contract accounts) and an account state that contains the contract's balance and total message count, which is called its nonce. Contract accounts also have an associated storage state and EVM code. The address of an external account is derived from the public key of a public and private keypair, while a contract account address is a concatenation of the creator account's address and its nonce."
    },
    {
      "name": "Contracts",
      "description": "A **Contract** account is an account whose behaviour is controlled by a smart contract. Contract accounts are identified by their address which is derived from the creator account's address and nonce. A contract account has a non-empty associated EVM code. It's state data consists of the bytecode, the contract's balance and the storage state of the contract's code (for example the value of variables). A contract account can only act when it is triggered by a message. It may not create and sign transactions, but it can receive transactions from external accounts as well as send and receive contract messages, which may involve a transfer of Ether. Contract accounts can also contain events which create log entries when triggered."
    },
    {
      "name": "Transactions",
      "description": "A **Transaction** is a message between two accounts that may transfer Ether and may contain a payload. Transactions always originate from an external account that is controlled by an external actor by means of a private key. The execution of a transaction creates a 'transaction receipt'."
    },
    {
      "name": "Contract-Messages",
      "description": "A **Contract Message** is passed between a contract account and any other account (external or contract). It is the result of an execution chain originally triggered by an external eccount."
    },
    {
      "name": "Log-Entries",
      "description": "A **Log Entry** is the result of an event in a smart contract, emitted during creation or execution of a contract account's code. It is related to the Tx it was created in, the contract account that had the event, a series of 32-bytes log topics and a number of bytes of data."
    },
    {
      "name": "Ether-Transfers",
      "description": "An **Ether Transfer** is the record of an amount of Ether units (wei)\nbeing transferred from one account to another account. \n\nEther can be moved around between accounts through a variety of factors, such as:\n\n- [Transactions](#tag/Transactions) - transfers originating from an external account\n\n- [Contract Messages](#tag/Contract-Messages) (internal transactions) - transfers originating \nfrom a contract account\n\n- Block rewards\n\n- Uncle rewards\n\nWe'll call the underlying event that triggered the Ether movement the transfer's *carrier*.\n\nIt is usually difficult to get a complete picture of the Ether inflows for an arbitrary account\nusing only the native Ethereum `json-rpc` interface. Cases susch as multi-sig withdrawals \n(e.g. withdrawing Ether from an exchange), receiving a prize from a bounty contract, or collecting\na mining reward cannot be properly monitored only by looking at the transaction feed, and there \nis no built-in method to retrieve internal transfers (transfers initiated by a smart contract).\n\nAll these use cases are addressed by the EtherTransfer collection, which provides an aggregate,\ncomplete list of all inflows and outflows for any on-chain account, across all carrier types.\n"
    },
    {
      "name": "Tokens",
      "description": "A **Token** is a fungible virtual good that can be traded. ERC-20 Tokens comply to the standard described in the [Ethereum ERC-20 proposal](https://eips.ethereum.org/EIPS/eip-20)."
    },
    {
      "name": "Token-Transfers",
      "description": "A **Token Transfer** is the record of an amount of token units being transferred from one account to another account. If the token complies to ERC-20 the transfer is logged by a LogEntry."
    },
    {
      "name": "Ether-Balances",
      "description": "An **Ether Balance** object describes the ether holdings of a given Account address, at a given block (latest by default). This value is equivalent to the result of an `eth_getBalance` RPC call on a network node, performed at the given block."
    },
    {
      "name": "Token-Balances",
      "description": "A **Token Balance** describes the holdings of a given Account address, for a given Token, at a given block (latest by default). This value is equivalent to the result of a `balanceOf` method call on the corresponding ERC-20 token contract, performed at the given block."
    },
    {
      "name": "Webhooks",
      "description": "A **Webhook** encapsulates information about an API collection that will be automatically monitored \nfor updates, so the user can receive real-time HTTP notifications when new resources that satisfy \nthe query criteria become part of the blockchain.\n\nAll endpoints require [user authentication](#section/Introduction/Authentication).\n\nFor a detailed description of the Webhook data flow see the \n[Webhook introductory section above](#section/Introduction/Webhooks).\n"
    },
    {
      "name": "DeFi",
      "description": "The following endpoints provide current and historical analytics for the main DeFi lending protocols.\n\nThe datasets are only available for the Ethereum **mainnet**. \n\nAll DeFi endpoints require [user authentication](#section/Introduction/Authentication).\n"
    }
  ],
  "components": {
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Account"
            ],
            "example": "Account"
          },
          "id": {
            "type": "string",
            "format": "hex160",
            "description": "The Account address",
            "example": "0x50126e8fcb9be29f83c6bbd913cc85b40eaf86fc"
          },
          "attributes": {
            "type": "object",
            "description": "The Account attributes",
            "properties": {
              "address": {
                "description": "A 160-bit identifier for accounts.",
                "example": "0x50126e8fcb9be29f83c6bbd913cc85b40eaf86fc",
                "type": "string",
                "format": "hex160"
              },
              "nonce": {
                "description": "Number of out transactions (ExternalAccount) / Created contract messages (ContractAccount).",
                "example": 3,
                "type": "integer"
              },
              "balance": {
                "description": "A scalar value equal to the number of Wei owned by an account at a given account state.",
                "type": "string",
                "format": "bignum",
                "example": "1600000000000000000"
              }
            }
          },
          "relationships": {
            "type": "object",
            "description": "The Account relationships",
            "properties": {
              "contract": {
                "type": "object",
                "description": "Relates an Account to the details of the contract deployed at its address. Returns `null` if the account is an External account.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "Contract"
                        ],
                        "example": "Contract"
                      },
                      "id": {
                        "type": "string",
                        "format": "hex160",
                        "example": "0x50126e8fcb9be29f83c6bbd913cc85b40eaf86fc"
                      }
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/accounts/0x50126e8fcb9be29f83c6bbd913cc85b40eaf86fc/contract"
                      }
                    }
                  }
                }
              },
              "transactions": {
                "type": "object",
                "description": "Relates an Account to the list of transactions that either originated from or were sent to its address. The transactions are listed in descending order of their `globalRank` (most recent first).",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/accounts/0x50126e8fcb9be29f83c6bbd913cc85b40eaf86fc/transactions"
                      }
                    }
                  }
                }
              },
              "contractMessages": {
                "type": "object",
                "description": "Relates an Account to the list of contract messages that either originated from or were sent to its address. The messages are listed in descending order of their `globalRank` (most recent first).",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/accounts/0x50126e8fcb9be29f83c6bbd913cc85b40eaf86fc/contractMessages"
                      }
                    }
                  }
                }
              },
              "etherTransfers": {
                "type": "object",
                "description": "Relates an Account to the list of all EtherTransfers that were either sent to or received by its address. The transfers are listed in descending order by their `globalRank` (most recent first).",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/accounts/0x50126e8fcb9be29f83c6bbd913cc85b40eaf86fc/etherTransfers"
                      }
                    }
                  }
                }
              },
              "tokenTransfers": {
                "type": "object",
                "description": "Relates an Account to the list of all TokenTransfers that were either sent to or received by its address. The transfers are listed in descending order by their `globalRank` (most recent first).",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/accounts/0x50126e8fcb9be29f83c6bbd913cc85b40eaf86fc/tokenTransfers"
                      }
                    }
                  }
                }
              },
              "etherBalances": {
                "type": "object",
                "description": "Relates an Account to its ether balance. The response is wrapped as a single-element EtherBalance collection (to keep it consistent with the `Account.tokenBalances` collection).",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/accounts/0x50126e8fcb9be29f83c6bbd913cc85b40eaf86fc/etherBalances"
                      }
                    }
                  }
                }
              },
              "tokenBalances": {
                "type": "object",
                "description": "Relates an Account to the list of TokenBalances corresponding to all its token holdings. The balances are listed in alphabetical order by their `token` address.",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/accounts/0x50126e8fcb9be29f83c6bbd913cc85b40eaf86fc/tokenBalances"
                      }
                    }
                  }
                }
              }
            }
          },
          "links": {
            "type": "object",
            "description": "The links of this Account",
            "properties": {
              "self": {
                "type": "string",
                "description": "The canonical link to this Account resource",
                "example": "https://api.aleth.io/v1/accounts/0x50126e8fcb9be29f83c6bbd913cc85b40eaf86fc"
              }
            }
          }
        }
      },
      "Block": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Block"
            ],
            "example": "Block"
          },
          "id": {
            "type": "string",
            "format": "hex256",
            "description": "The block hash",
            "example": "0x40dd9a773b81b00aacdc81598d19a5beef3ab66d391cc1cea6fb083294e7a184"
          },
          "attributes": {
            "type": "object",
            "description": "The Block attributes",
            "properties": {
              "number": {
                "description": "A scalar value equal to the number of ancestor blocks. The genesis block has a number of zero.",
                "example": 4041179,
                "type": "integer"
              },
              "blockCreationTime": {
                "description": "This block's inception timestamp (UTC).",
                "example": 1500417203,
                "format": "unixtime",
                "type": "integer"
              },
              "blockHash": {
                "description": "The Keccak 256-bit hash of the block's header, in its entierty.",
                "example": "0x40dd9a773b81b00aacdc81598d19a5beef3ab66d391cc1cea6fb083294e7a184",
                "format": "hex256",
                "type": "string"
              },
              "blockDifficulty": {
                "description": "The difficulty level of this block.",
                "example": "1202852357499802",
                "format": "bignum",
                "type": "string"
              },
              "blockBeneficiaryReward": {
                "description": "The reward the beneficiary receives for mining a block. It is comprised of the base reward (3ETH), rewards for including uncles (1/32 of block reward per uncle) and the fees of the Tx in the block.",
                "example": "5093523764411027795",
                "format": "bignum",
                "type": "string"
              },
              "hasBeneficiaryAlias": {
                "description": "Beneficiary alias",
                "example": "Nanopool",
                "type": "string"
              },
              "blockGasLimit": {
                "description": "A scalar value equal to the current limit of gas expenditure per block. Its purpose is to keep block propagation and processing time low, thereby allowing for a sufficiently decentralized network. Miners have the option to increase or decrease it every block by a certain factor.",
                "example": 6758494,
                "type": "integer"
              },
              "blockGasUsed": {
                "description": "A scalar value equal to the total gas used by all transactions in this block.",
                "example": 6749593,
                "type": "integer"
              },
              "canonical": {
                "description": "A boolean value indicating whether the block is currently part of the main (canonical) chain. A `false` value indicates that the block is no longer included in the canonical chain and is now part of a stale (reorged) branch."
              }
            }
          },
          "relationships": {
            "type": "object",
            "description": "The Block relationships",
            "properties": {
              "parentBlock": {
                "type": "object",
                "description": "Relates a block to its parent in the chain. It always points to the block with a number that is decreased by one, compared to the block it originates from.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "Block"
                        ],
                        "example": "Block"
                      },
                      "id": {
                        "type": "string",
                        "format": "hex256",
                        "example": "0x1c9fc940ae7ef69c02a2003575d0246cd91c478bcff16bbc623240d744b77c09"
                      }
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/blocks/0x40dd9a773b81b00aacdc81598d19a5beef3ab66d391cc1cea6fb083294e7a184/parentBlock"
                      }
                    }
                  }
                }
              },
              "hasBeneficiary": {
                "type": "object",
                "description": "Relates the block to an account to which fees or mining rewards from the successful mining of this block are transferred.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "Account"
                        ],
                        "example": "Account"
                      },
                      "id": {
                        "type": "string",
                        "format": "hex160",
                        "example": "0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5"
                      }
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/blocks/0x40dd9a773b81b00aacdc81598d19a5beef3ab66d391cc1cea6fb083294e7a184/hasBeneficiary"
                      }
                    }
                  }
                }
              },
              "transactions": {
                "type": "object",
                "description": "Relates the block to the list of Transactions included in it. The Transactions are listed in reverse chronological order (descending by their `globalRank` value).",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/blocks/0x40dd9a773b81b00aacdc81598d19a5beef3ab66d391cc1cea6fb083294e7a184/transactions"
                      }
                    }
                  },
                  "meta": {
                    "type": "object",
                    "description": "The number of Transactions related to this Block.",
                    "properties": {
                      "count": {
                        "type": "integer",
                        "example": 165
                      }
                    }
                  }
                }
              },
              "contractMessages": {
                "type": "object",
                "description": "Relates the block to the list of Contract Messages that were generated as an outcome of executing the block's transactions. The Contract Messages are listed in reverse chronological order (descending by their `globalRank` attribute).",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/blocks/0x40dd9a773b81b00aacdc81598d19a5beef3ab66d391cc1cea6fb083294e7a184/contractMessages"
                      }
                    }
                  }
                }
              },
              "logEntries": {
                "type": "object",
                "description": "Relates the block to the list of Log Entries that were generated as an outcome of executing the block's transactions. The Log Entries are listed in reverse chronological order (descending by their `globalRank` attribute).",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/blocks/0x40dd9a773b81b00aacdc81598d19a5beef3ab66d391cc1cea6fb083294e7a184/logEntries"
                      }
                    }
                  }
                }
              },
              "etherTransfers": {
                "type": "object",
                "description": "Relates the block to the list of all EtherTransfers that have been triggered within the block.",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/blocks/0x40dd9a773b81b00aacdc81598d19a5beef3ab66d391cc1cea6fb083294e7a184/etherTransfers"
                      }
                    }
                  }
                }
              },
              "tokenTransfers": {
                "type": "object",
                "description": "Relates the block to the list of all TokenTransfers that have been created as an outcome of executing the block's transactions.",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/blocks/0x40dd9a773b81b00aacdc81598d19a5beef3ab66d391cc1cea6fb083294e7a184/tokenTransfers"
                      }
                    }
                  }
                }
              }
            }
          },
          "links": {
            "type": "object",
            "description": "The links of this Block",
            "properties": {
              "self": {
                "type": "string",
                "description": "The canonical link to this Block resource",
                "example": "https://api.aleth.io/v1/blocks/0x40dd9a773b81b00aacdc81598d19a5beef3ab66d391cc1cea6fb083294e7a184"
              }
            }
          }
        }
      },
      "ContractMessage": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "ContractMessage"
            ],
            "example": "ContractMessage"
          },
          "id": {
            "type": "string",
            "description": "The contract message composite ID",
            "example": "msg:0xb53fdc2d618b5c35da706b399f9201721a74082fdb46ee90e487c82e422a4c8c:4"
          },
          "attributes": {
            "type": "object",
            "description": "The ContractMessage attributes",
            "properties": {
              "msgType": {
                "description": "The message type. For a ContractMessage resource, this can be `ValueContractMsg` for a simple ether transfer, `CallContractMsg` for a call to another piece of contract code, `CreateContractMsg` for the deployment of a new contract, or `SelfdestructContractMsg` for the selfdestruction of a contract.",
                "example": "CallContractMsg",
                "enum": [
                  "ValueContractMsg",
                  "CallContractMsg",
                  "CreateContractMsg",
                  "SelfdestructContractMsg"
                ]
              },
              "value": {
                "description": "A scalar value equal to the number of Wei to be transferred to the Message call's recipient. In the case of contract creation it is the initial balance of the contract account, paid by the sending account.",
                "example": "0",
                "format": "bignum",
                "type": "string"
              },
              "msgGasLimit": {
                "description": "A scalar value equal to the maximum amount of gas that should be used in executing this transaction. This is paid up-front, before any computation is done and may not be increased later. If used with contract messages it represents the fraction of the original transaction gas limit still available for execution of the contract message. After all resulting computations are done, excess gas is returned to the sender of the original transaction.",
                "example": 193347,
                "type": "integer"
              },
              "txGasPrice": {
                "description": "Price in Wei to be paid per unit of gas for all computation costs incurred as a result of the execution of this transaction. This implies that contract messages resulting from the transaction pay the same gas price.",
                "example": "8000000000",
                "format": "bignum",
                "type": "string"
              },
              "globalRank": {
                "description": "A triple that describes the global order of the transaction. The first element is the block number. The second element is the message index in the context of the block (counting both Transactions and ContractMessages in the order they were executed). The third element is always `0` for ContractMessages.",
                "example": [
                  7000000,
                  7,
                  0
                ],
                "type": "array",
                "items": {
                  "type": "int"
                },
                "minItems": 3,
                "maxItems": 3
              },
              "cmsgIndex": {
                "description": "The index of the ContractMessage within the Transaction that triggered it.",
                "example": 4,
                "type": "integer"
              },
              "msgCallDepth": {
                "description": "A scalar value describing the depth of this contract message in the call tree whose root is the transaction.",
                "example": 2,
                "type": "integer"
              },
              "blockCreationTime": {
                "description": "The inception timestamp (UTC) for the block that has included the transaction.",
                "example": 1546466952,
                "format": "unixtime",
                "type": "integer"
              },
              "msgGasUsed": {
                "description": "The amount of gas that was used for processing a single message, regardless of which type of message it may be.",
                "example": 4800,
                "type": "integer"
              },
              "fee": {
                "description": "The total amout of ether (wei) that was used for processing this contract messages. `fee = Gas price * Gas used`",
                "example": "38400000000000",
                "format": "bignum",
                "type": "string"
              },
              "msgError": {
                "description": "A boolean value indicating whether the message validation resulted in an error. A \"true\" value indicates an error.",
                "example": false,
                "type": "boolean"
              },
              "msgErrorString": {
                "description": "A string informally describing an error that occured during the validation of a message. Only exists if msgError is true.",
                "example": "",
                "type": "string"
              },
              "msgPayload": {
                "description": "The interpretation of the data payload associated with this ContractMessage.",
                "type": "object",
                "properties": {
                  "funcDefinition": {
                    "description": "The full function definition (including argument names and function modifiers)",
                    "example": "",
                    "type": "string"
                  },
                  "funcName": {
                    "description": "Only the name of the function (without arguments and modifiers)",
                    "example": "",
                    "type": "string"
                  },
                  "funcSignature": {
                    "description": "The function name with the parenthesised list of parameter types",
                    "example": "",
                    "type": "string"
                  },
                  "funcSelector": {
                    "description": "The first 4 bytes of the Keccak256 hash of the function signature",
                    "example": "0x5e9a523c",
                    "type": "string"
                  },
                  "inputs": {
                    "description": "The list of decoded parameters that were passed to the function",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "outputs": {
                    "description": "The values returned by the function as a reslt of is execution",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "raw": {
                    "description": "An unlimited size byte array specifying the raw data payload of the transaction.",
                    "example": "0x5e9a523c00000000000000000000000089d24a6b4ccb1b6faa2625fe562bdd9a23260359",
                    "format": "hex",
                    "type": "string"
                  }
                }
              },
              "cursor": {
                "description": "The pagination cursor assigned to this resource.",
                "example": "0x006acfc000070000200117aa411843cb",
                "type": "string"
              }
            }
          },
          "relationships": {
            "type": "object",
            "description": "The ContractMessage relationships",
            "properties": {
              "from": {
                "type": "object",
                "description": "Relates a ContractMessage to the Account it originates from.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "Account"
                        ],
                        "example": "Account"
                      },
                      "id": {
                        "type": "string",
                        "format": "hex160",
                        "example": "0x9e77ad51e5c0825d6e440f49e49ef1a1bca37b5d"
                      }
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/contract-messages/msg:0xb53fdc2d618b5c35da706b399f9201721a74082fdb46ee90e487c82e422a4c8c:4/from"
                      }
                    }
                  }
                }
              },
              "to": {
                "type": "object",
                "description": "Relates a ContractMessage to the Account it is sent to.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "Account"
                        ],
                        "example": "Account"
                      },
                      "id": {
                        "type": "string",
                        "format": "hex160",
                        "example": "0x02557a5e05defeffd4cae6d83ea3d173b272c904"
                      }
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/contract-messages/msg:0xb53fdc2d618b5c35da706b399f9201721a74082fdb46ee90e487c82e422a4c8c:4/to"
                      }
                    }
                  }
                }
              },
              "originator": {
                "type": "object",
                "description": "Relates a ContractMessage to the sender of the Transaction that triggered it.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "Account"
                        ],
                        "example": "Account"
                      },
                      "id": {
                        "type": "string",
                        "format": "hex160",
                        "example": "0x65d25e3f2696b73b850daa07dd1e267dcfa67f2d"
                      }
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/contract-messages/msg:0xb53fdc2d618b5c35da706b399f9201721a74082fdb46ee90e487c82e422a4c8c:4/originator"
                      }
                    }
                  }
                }
              },
              "includedInBlock": {
                "type": "object",
                "description": "Relates a ContractMessage to the block where its associated Transaction is included in.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "Block"
                        ],
                        "example": "Block"
                      },
                      "id": {
                        "type": "string",
                        "format": "hex256",
                        "example": "0x17aa411843cb100e57126e911f51f295f5ddb7e9a3bd25e708990534a828c4b7"
                      }
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/contract-messages/msg:0xb53fdc2d618b5c35da706b399f9201721a74082fdb46ee90e487c82e422a4c8c:4/includedInBlock"
                      }
                    }
                  }
                }
              },
              "transaction": {
                "type": "object",
                "description": "Relates a ContractMessage to the transacion that triggered its execution.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "Transaction"
                        ],
                        "example": "Transaction"
                      },
                      "id": {
                        "type": "string",
                        "format": "hex256",
                        "example": "0xb53fdc2d618b5c35da706b399f9201721a74082fdb46ee90e487c82e422a4c8c"
                      }
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/contract-messages/msg:0xb53fdc2d618b5c35da706b399f9201721a74082fdb46ee90e487c82e422a4c8c:4/transaction"
                      }
                    }
                  }
                }
              },
              "parentContractMessage": {
                "type": "object",
                "description": "Relates a ContractMessage to its parent Contract Message.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "ContractMessage"
                        ],
                        "example": "ContractMessage"
                      },
                      "id": {
                        "type": "string",
                        "example": "msg:0xb53fdc2d618b5c35da706b399f9201721a74082fdb46ee90e487c82e422a4c8c:3"
                      }
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/contract-messages/msg:0xb53fdc2d618b5c35da706b399f9201721a74082fdb46ee90e487c82e422a4c8c:4/parentContractMessage"
                      }
                    }
                  }
                }
              },
              "createsContracts": {
                "type": "object",
                "description": "Relates a ContractMessage to the list of all contracts that have been created as a result of executing it and all its derived Contract Messages. The contracts are listed in the order of most recently created first.",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/contract-messages/msg:0xb53fdc2d618b5c35da706b399f9201721a74082fdb46ee90e487c82e422a4c8c:4/createsContracts"
                      }
                    }
                  }
                }
              },
              "logEntries": {
                "type": "object",
                "description": "Relates a ContractMessage to the list of all LogEntries that have been created as a result of its execution.",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/contract-messages/msg:0xb53fdc2d618b5c35da706b399f9201721a74082fdb46ee90e487c82e422a4c8c:4/logEntries"
                      }
                    }
                  },
                  "meta": {
                    "type": "object",
                    "description": "The number of LogEntries related to this ContractMessage.",
                    "properties": {
                      "count": {
                        "type": "integer",
                        "example": 0
                      }
                    }
                  }
                }
              },
              "tokenTransfers": {
                "type": "object",
                "description": "Relates a ContractMessage to the list of all TokenTransfers that have been created as a result of its execution.",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/contract-messages/msg:0xb53fdc2d618b5c35da706b399f9201721a74082fdb46ee90e487c82e422a4c8c:4/tokenTransfers"
                      }
                    }
                  },
                  "meta": {
                    "type": "object",
                    "description": "The number of TokenTransfers related to this ContractMessage.",
                    "properties": {
                      "count": {
                        "type": "integer",
                        "example": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "links": {
            "type": "object",
            "description": "The links of this ContractMessage",
            "properties": {
              "self": {
                "type": "string",
                "description": "The canonical link to this ContractMessage resource",
                "example": "https://api.aleth.io/v1/contract-messages/msg:0xb53fdc2d618b5c35da706b399f9201721a74082fdb46ee90e487c82e422a4c8c:4"
              }
            }
          }
        }
      },
      "Contract": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Contract"
            ],
            "example": "Contract"
          },
          "id": {
            "type": "string",
            "format": "hex160",
            "description": "The contract address",
            "example": "0x2af47a65da8CD66729b4209C22017d6A5C2d2400"
          },
          "attributes": {
            "type": "object",
            "description": "The Contract attributes",
            "properties": {
              "address": {
                "description": "A 160-bit identifier for the contract account.",
                "example": "0x2af47a65da8CD66729b4209C22017d6A5C2d2400",
                "type": "string",
                "format": "hex160"
              },
              "createdAtTimestamp": {
                "description": "The timestamp of the block that included the transaction which triggered the deployment of the contract.",
                "example": 1513630656,
                "type": "integer",
                "format": "unixtime"
              },
              "constructorArgs": {
                "description": "The list of argumets that were passed to the constructor of the contract.",
                "example": [
                  "0x000000000000000000000000bfdb50dc66c8df9fd9688d8fe5a0c34126427645"
                ],
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "hex"
                }
              },
              "bytecode": {
                "description": "The deployed bytecode of the contract.",
                "example": "0x60606040526004361061013e576000357c010000000000000000000000000000...",
                "type": "string",
                "format": "hex"
              },
              "balance": {
                "description": "A scalar value equal to the number of Wei owned by the contract account.",
                "type": "string",
                "format": "bignum",
                "example": "370537404099999999585"
              },
              "contractName": {
                "description": "The name of the main contract class as defined in the Contract's source code.",
                "example": "StandardBounties",
                "type": "string"
              }
            }
          },
          "relationships": {
            "type": "object",
            "description": "The Contract relationships",
            "properties": {
              "account": {
                "type": "object",
                "description": "Relates a Contract to the Account object that shares its address.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "Account"
                        ],
                        "example": "Account"
                      },
                      "id": {
                        "type": "string",
                        "format": "hex160",
                        "example": "0x2af47a65da8CD66729b4209C22017d6A5C2d2400"
                      }
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/contracts/0x2af47a65da8CD66729b4209C22017d6A5C2d2400/account"
                      }
                    }
                  }
                }
              },
              "createdAtBlock": {
                "type": "object",
                "description": "Relates a Contract to the block when it was deployed.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "Block"
                        ],
                        "example": "Block"
                      },
                      "id": {
                        "type": "string",
                        "format": "hex256",
                        "example": "0x2b5ea6f20cc07860890563fb91e1f7f876f8e604a4ba0451a77dd7158caade83"
                      }
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/contracts/0x2af47a65da8CD66729b4209C22017d6A5C2d2400/createdAtBlock"
                      }
                    }
                  }
                }
              },
              "createdAtTransaction": {
                "type": "object",
                "description": "Relates a Contract to the transacion that triggered its creation.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "Transaction"
                        ],
                        "example": "Transaction"
                      },
                      "id": {
                        "type": "string",
                        "format": "hex256",
                        "example": "0x2929b98c2e0da944901b2ce9c3447f2b943c6f6e747baba3599fd0c2bd461ee0"
                      }
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/contracts/0x2af47a65da8CD66729b4209C22017d6A5C2d2400/createdAtTransaction"
                      }
                    }
                  }
                }
              },
              "token": {
                "type": "object",
                "description": "Relates a Contract to a Token resource that encapsulates token-specific details of the given token contract. Will be `null` if the Contract is not compatible with any supported token standard.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "Token"
                        ],
                        "example": "Token"
                      },
                      "id": {
                        "type": "string",
                        "format": "hex160",
                        "example": null
                      }
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/contracts/0x2af47a65da8CD66729b4209C22017d6A5C2d2400/token"
                      }
                    }
                  }
                }
              },
              "transactions": {
                "type": "object",
                "description": "Relates a Contract to the list of transactions that either originated from or were sent to its address. The transactions are listed in descending order of their `msgGlobalRank` (most recent first).",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/contracts/0x2af47a65da8CD66729b4209C22017d6A5C2d2400/transactions"
                      }
                    }
                  }
                }
              },
              "contractMessages": {
                "type": "object",
                "description": "Relates a Contract to the list of contract messages that either originated from or were sent to its address. The messages are listed in descending order of their `msgGlobalRank` (most recent first).",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/contracts/0x2af47a65da8CD66729b4209C22017d6A5C2d2400/contractMessages"
                      }
                    }
                  }
                }
              },
              "logEntries": {
                "type": "object",
                "description": "Relates a Contract to the list of log entries it generated.",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/contracts/0x2af47a65da8CD66729b4209C22017d6A5C2d2400/logEntries"
                      }
                    }
                  }
                }
              }
            }
          },
          "links": {
            "type": "object",
            "description": "The links of this Contract",
            "properties": {
              "self": {
                "type": "string",
                "description": "The canonical link to this Contract resource",
                "example": "https://api.aleth.io/v1/contracts/0x2af47a65da8CD66729b4209C22017d6A5C2d2400"
              }
            }
          }
        }
      },
      "Point": {
        "type": "array",
        "items": {
          "oneOf": [
            {
              "type": "integer",
              "format": "unixtime"
            },
            {
              "type": "string",
              "format": "rounded-float"
            }
          ]
        },
        "minItems": 2,
        "maxItems": 2,
        "example": [
          123456789,
          "2.4356"
        ]
      },
      "PointArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Point"
        }
      },
      "HistorySeries": {
        "type": "object",
        "properties": {
          "protocol": {
            "allOf": [
              {
                "$ref": "#/components/parameters/AllProtocols"
              },
              {
                "example": "compound"
              }
            ]
          },
          "asset": {
            "allOf": [
              {
                "$ref": "#/components/parameters/AllAssets"
              },
              {
                "example": "dai"
              }
            ]
          },
          "metric": {
            "type": "string",
            "enum": [
              "borrow_apr",
              "earn_apr"
            ],
            "example": "borrow_apr"
          },
          "points": {
            "$ref": "#/components/schemas/PointArray"
          }
        }
      },
      "Snapshot": {
        "type": "object",
        "properties": {
          "protocol": {
            "allOf": [
              {
                "$ref": "#/components/parameters/AllProtocols"
              },
              {
                "example": "compound"
              }
            ]
          },
          "asset": {
            "allOf": [
              {
                "$ref": "#/components/parameters/AllAssets"
              },
              {
                "example": "dai"
              }
            ]
          },
          "metric": {
            "type": "string",
            "enum": [
              "borrow_apr",
              "earn_apr"
            ],
            "example": "borrow_apr"
          },
          "value": {
            "description": "The current value of the measurement, rounded to 4 decimal places.",
            "type": "string",
            "format": "rounded-float",
            "example": "2.4356"
          },
          "change_24h": {
            "description": "Past 24 hours change in percentages, rounded to 4 decimal places.",
            "type": "string",
            "format": "rounded-float",
            "example": "-4.2424"
          },
          "timestamp": {
            "description": "The Unix timestamp associated with the current measurement.",
            "type": "integer",
            "format": "unixtime",
            "example": 123456789
          }
        }
      },
      "Stats": {
        "type": "object",
        "properties": {
          "protocol": {
            "allOf": [
              {
                "$ref": "#/components/parameters/AllProtocols"
              },
              {
                "example": "compound"
              }
            ]
          },
          "asset": {
            "allOf": [
              {
                "$ref": "#/components/parameters/AllAssets"
              },
              {
                "example": "dai"
              }
            ]
          },
          "collateral_ratio": {
            "$ref": "#/components/schemas/PointArray"
          },
          "outstanding_debt": {
            "$ref": "#/components/schemas/PointArray"
          },
          "supply_volume": {
            "$ref": "#/components/schemas/PointArray"
          }
        }
      },
      "EthPriceHistory": {
        "type": "object",
        "properties": {
          "asset": {
            "type": "string",
            "enum": [
              "eth"
            ],
            "example": "eth"
          },
          "prices": {
            "$ref": "#/components/schemas/PointArray"
          }
        }
      },
      "TokenPriceHistory": {
        "type": "object",
        "properties": {
          "asset": {
            "allOf": [
              {
                "$ref": "#/components/parameters/AllAssets"
              },
              {
                "example": "dai"
              }
            ]
          },
          "prices": {
            "$ref": "#/components/schemas/PointArray"
          }
        }
      },
      "EthLockedHistory": {
        "type": "object",
        "properties": {
          "protocol": {
            "allOf": [
              {
                "$ref": "#/components/parameters/AllProtocols"
              },
              {
                "example": "compound"
              }
            ]
          },
          "eth_locked": {
            "$ref": "#/components/schemas/PointArray"
          }
        }
      },
      "EtherBalance": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "EtherBalance"
            ],
            "example": "EtherBalance"
          },
          "id": {
            "type": "string",
            "format": "hex",
            "description": "The EtherBalance ID is identical to the address of the related Account.",
            "example": "0x0000000000000000000000000000000000000000"
          },
          "attributes": {
            "type": "object",
            "description": "The attributes of this EtherBalance",
            "properties": {
              "balance": {
                "description": "A scalar value equal to the number of wei that are owned by the associated Account.",
                "example": "420000000000000",
                "type": "string",
                "format": "bignum"
              }
            }
          },
          "relationships": {
            "type": "object",
            "description": "The EtherBalance relationships",
            "properties": {
              "account": {
                "type": "object",
                "description": "Relates a EtherBalance to the Account whose balance it refers to.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "Account"
                        ],
                        "example": "Account"
                      },
                      "id": {
                        "type": "string",
                        "format": "hex160",
                        "example": "0x0000000000000000000000000000000000000000"
                      }
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/ether-balances/0x0000000000000000000000000000000000000000/account"
                      }
                    }
                  }
                }
              }
            }
          },
          "links": {
            "type": "object",
            "description": "The links of this EtherBalance",
            "properties": {
              "self": {
                "type": "string",
                "description": "The canonical link to this EtherBalance resource",
                "example": "https://api.aleth.io/v1/ether-balances/0x0000000000000000000000000000000000000000"
              }
            }
          }
        }
      },
      "EtherTransfer": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "EtherTransfer"
            ],
            "example": "EtherTransfer"
          },
          "id": {
            "type": "string",
            "format": "hex",
            "description": "The EtherTransfer ID is a unique, immutable identifier for the transfer - for all practical purposes, you can think of it as a random value that’s useful for relating the transfer details with other linked data.",
            "example": "0x0079c69c004e00004200f7f0b0a20179"
          },
          "attributes": {
            "type": "object",
            "description": "The attributes of this EtherTransfer",
            "properties": {
              "transferType": {
                "description": "The type of this EtherTransfer, which depends on the underlying carrier entry. The type is `TransactionTransfer` for transfers whose carrier is a Transaction, `ContractMessageTransfer` for transfers whose carrier is a ContractMessage, and `BlockRewardTransfer` for transfers whose carrier is a Block or Uncle Reward.",
                "example": "ContractMessageTransfer",
                "type": "string",
                "enum": [
                  "TransactionTransfer",
                  "ContractMessageTransfer",
                  "BlockRewardTransfer"
                ]
              },
              "value": {
                "description": "A scalar value equal to the number of wei that are transferred to the recipient.",
                "example": "4287663873500000512",
                "type": "string",
                "format": "bignum"
              },
              "fee": {
                "description": "This is non-zero only for EtherTransfers whose carrier is a Transaction entry. It represents the fee (total gas cost) of the transaction measured in wei, which was paid by the originator of the transaction to the miner of the block where the transaction was mined. This account is linked through the `feeRecipient` relationship.",
                "example": "0",
                "type": "string",
                "format": "bignum"
              },
              "total": {
                "description": "The total amount of wei that was debited from the sender, out of which `value` was transferred to the `to` address, and `fee` was transferred to the `feeRecipient` address.",
                "example": "4287663873500000512",
                "type": "string",
                "format": "bignum"
              },
              "blockCreationTime": {
                "description": "The timestamp (UTC) of the block that has included the transfer.",
                "example": 1560839506,
                "format": "unixtime",
                "type": "integer"
              },
              "globalRank": {
                "description": "A triple that describes the global order of the carrier entry associated with this EtherTransfer. The first element is the block number. The second element is the message index in the context of the block (counting both Transactions and ContractMessages in the order they were executed). The third element is non-zero only for uncle rewards, and in that case it points to the uncle index.",
                "example": [
                  7980700,
                  78,
                  0
                ],
                "type": "array",
                "items": {
                  "type": "int"
                },
                "minItems": 3,
                "maxItems": 3
              },
              "cursor": {
                "description": "The pagination cursor assigned to this resource.",
                "example": "0x0079c69c004e00004200f7f0b0a20179",
                "type": "string"
              }
            }
          },
          "relationships": {
            "type": "object",
            "description": "The EtherTransfer relationships",
            "properties": {
              "from": {
                "type": "object",
                "description": "Relates an EtherTransfer to the Account that sent the `value` (and paid the `fee`).",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "Account"
                        ],
                        "example": "Account"
                      },
                      "id": {
                        "type": "string",
                        "format": "hex160",
                        "example": "0x6668ee95f387b0da9bd3e69ec0dbf5f1503b8135"
                      }
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/ether-transfers/0x0079c69c004e00004200f7f0b0a20179/from"
                      }
                    }
                  }
                }
              },
              "to": {
                "type": "object",
                "description": "Relates an EtherTransfer to the Account that received the main transferred `value`. (the recipient of the `fee` will typically be a different Account).",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "Account"
                        ],
                        "example": "Account"
                      },
                      "id": {
                        "type": "string",
                        "format": "hex160",
                        "example": "0xbf0c5d82748ed81b5794e59055725579911e3e4e"
                      }
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/ether-transfers/0x0079c69c004e00004200f7f0b0a20179/to"
                      }
                    }
                  }
                }
              },
              "transaction": {
                "type": "object",
                "description": "Relates an EtherTransfer to the Transacion that triggered it.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "Transaction"
                        ],
                        "example": "Transaction"
                      },
                      "id": {
                        "type": "string",
                        "format": "hex256",
                        "example": "0x61936196d934a793fb6a2fce76eb294164ede1fad708c9fe37a4b66c88762da3"
                      }
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/ether-transfers/0x0079c69c004e00004200f7f0b0a20179/transaction"
                      }
                    }
                  }
                }
              },
              "contractMessage": {
                "type": "object",
                "description": "Relates an EtherTransfer to the ContractMessage that triggered it.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "ContractMessage"
                        ],
                        "example": "ContractMessage"
                      },
                      "id": {
                        "type": "string",
                        "example": "msg:0x61936196d934a793fb6a2fce76eb294164ede1fad708c9fe37a4b66c88762da3:1"
                      }
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/ether-transfers/0x0079c69c004e00004200f7f0b0a20179/contractMessage"
                      }
                    }
                  }
                }
              },
              "feeRecipient": {
                "type": "object",
                "description": "Relates an EtherTransfer to the beneficiary (miner account) of the block where the transfer was triggered.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "Account"
                        ],
                        "example": "Account"
                      },
                      "id": {
                        "type": "string",
                        "format": "hex160",
                        "example": "0x04668ec2f57cc15c381b461b9fedab5d451c8f7f"
                      }
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/ether-transfers/0x0079c69c004e00004200f7f0b0a20179/feeRecipient"
                      }
                    }
                  }
                }
              },
              "block": {
                "type": "object",
                "description": "Relates an EtherTransfer to the block where the transfer was triggered.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "Block"
                        ],
                        "example": "Block"
                      },
                      "id": {
                        "type": "string",
                        "format": "hex256",
                        "example": "0xf7f0b0a2017979125d2b4418cdf0b1f796d053d28d7ce4d354de5741c07a857e"
                      }
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "example": "https://api.aleth.io/v1/ether-transfers/0x0079c69c004e00004200f7f0b0a20179/block"
                      }
                    }
                  }
                }
              }
            }
          },
          "links": {
            "type": "object",
            "description": "The links of this EtherTransfer",
            "properties": {
              "self": {
                "type": "string",
                "description": "The canonical link to this EtherTransfer resource",
                "example": "https://api.aleth.io/v1/ether-transfers/0x0079c69c004e00004200f7f0b0a20179"
              }
            }
          }
        }
      },
      "LogEntry": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "LogEntry"
            ],
            "example": "LogEntry"
          },
          "id": {
            "type": "string",
            "description": "The log entry composite ID",
            "example": "log:0xd70ae3e306514044032fce92bd36a36b90aede20bb119b32672287d28debf5ef:0"
          },
          "attributes": {
            "type": "object",
            "description": "The LogEntry attributes",
[...]
